.Main {
    overflow-x: hidden;
    display: grid;
    background-color: #F5F5F5;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
    }

.Photo {
    object-fit: cover;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    margin: 95px 0px -54px calc((100% - 980px) * 0.5);
    left: 33px;
    grid-area: 1 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}
.Resume {
	background-color: #F8A488;
	width: 130px;
	height: 130px;
    border-radius: 50%;
    position: relative;
    margin: 20px 0px 38px calc((100% - 980px) * 0.5);
    left: 395px;
    top: 80px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    cursor: pointer;
}
.Resume:hover,
.Resume:active {
    background-color: #ff8d67;
}

.Portfolio {
    background-color: #5AA897;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	align-items: center;
    position: relative;
    margin: 20px 0px 38px calc((100% - 980px) * 0.5);
    left: 535px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    cursor: pointer;
    top: 80px;
}
.Portfolio:hover,
.Portfolio:active {
    background-color: #1c7965;
}
.Skills {
	width: 130px;
	height: 130px;
	background-color: #45526C;
	border-radius: 50%;
	align-items: center;
    position: relative;
    margin: 20px 0px 38px calc((100% - 980px) * 0.5);
    left: 675px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    cursor: pointer;
    top: 80px;
}
.Skills:hover,
.Skills:active {
    background-color: #223a6b;
}
.Main h1 {
    position: relative;
    left: 100px;
    top: 70px;
    color: #9D9D9D;
}
.Main p {
    left: 100px;
    top: -300px;
    position: relative;
    color: #9D9D9D;
}
h3 {
    position: relative;
    z-index: 1;
    font-family: cursive;
    color: #cfcdcd;
}
a {
    text-decoration: none;
}
.Main span {
    width: 100px;
    height: 1px;
    background-color: #FACE7F;
    animation: lineMove 3s linear 1;
    margin-left: -50px;
    margin-top: -5%;
    z-index: 1;
    position: absolute;
}
@keyframes lineMove {
    from {
        width:0px;
    }
    to{
        width:100px;
    }
}
@media screen and (max-width: 700px) {
    .Main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: none;
    }
    .Photo {
        height: 200px;
        width: 200px;
        margin-left: 2%;
        margin-top: -10px;
    }
    .Resume {
        margin: auto;
        left: auto;
        height: 100px;
        top: 1px;
        left: 25%;
    }
    .Portfolio {
        margin: auto;
        left: auto;
        height: 100px;
        top: 1px;
        left: 25%;
    }
    .Skills {
        margin: auto;
        left: auto;
        height: 100px;
        top: 1px;
        left: 25%;
    }
    .Main h1 {
        left: 10px;
    }
}