.MyPortfolio {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    min-height: 100vh;
    font-size: calc(6px + 2vmin);
    color: #F8A488;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 700px) {
    .MyPortfolio {
        display: block;
    }
}