.Blog {
    width: 100%;
    display: flex;
    background-color: #F8F5F1;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
