.Input {
    width: 100%;
    height: 350px;
    overflow-x: hidden;
    display: flex;
    background-color: #F5F5F5;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.InputBox {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 240px;
    background-color: #5AA897;
    padding: 20px;
    border-radius: 5px;
}
.InputDiv {
    position: absolute;
    left: 100px;
    top: 160px;
    padding: 30px;
    color: #F8A488;
}
@media screen and (max-width: 700px) {
    .Input {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .InputDiv {
        top: 50px;
        left: auto;
    }
    .Input Button {
        left: 15%;
        margin-top: auto;
    }
}
.Input Button {
    position: absolute;
    left: 47%;
    margin-top: 400px;
}




