.Header {
	width: 100vw;
	background-color: white;
	align-items: center;
	border-bottom: 2px solid #f2f0f3;
	position: fixed;
	z-index: 100;
}
.Header ul {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: flex-end;
	align-content: flex-end;
	height: 100%;
}
@media screen and (max-width: 800px) {
	.Header ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.Type {
		left: 100px;
	}
}
.Header li {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}
.Type h4 {
	position: relative;
	color: #9d9d9d;
	text-decoration: none;
	margin: 0 10px;
}
.Type p {
	color: #9d9d9d;
	text-decoration: none;
	margin: 5px;
}
.MyMenu {
	color: #9d9d9d;
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
}
.MyMenu:hover,
.MyMenu:active {
	color: #5aa897;
	font-family: Georgia, Times, 'Times New Roman', serif;
}

