.PostDiv {
    width: 50%;
    margin-top: 45px;
}
.Post-preview {
    padding: 10px 26px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}
.Post-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.Post-preview h2 {
    color: #F8A488;
}
.SmallDiv {
    color: #9D9D9D;
}
@media screen and (max-width: 700px) {
    .PostDiv {
        width: 70%;
        margin-top: 55px;
    }
}